<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="aboutus.component.css">
</head>
<body>
<app-navbar></app-navbar>
<div class="wrapper">
    <h1 style="text-align: center; color:#000;   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;">Our Team</h1>
    <div class="our_team">
        <div class="team_member">
            <div class="member_img">
                <img src="../../assets/images/team1.jpg" style="border-radius: 50%; " alt="our_team">
                <div class="social_media">
                  <div class="item"><a href="https://github.com/BadrinathSomisetti"><i class="fab fa-github"></i></a></div>
                  <div class="item"><a href="mailto: badrinathsomisetti01@outlook.com"><i class="fab fa-microsoft"></i></a></div>
                  <div class="item"><a href="https://www.linkedin.com/in/badrinath-somisetti-3a9440214/"><i class="fab fa-linkedin"></i></a></div>
                </div>
             </div>
             <h3>Somisetti Sri Satya Sai Badrinath</h3>
             <span>(Project Leader)<br>Contractor (916240)</span>
             <p>Full Stack Engineer | Intern at Cognizant | Front End Developer | Student at Amrita Vishwa Vidyapeetham</p>
        </div>
        <div class="team_member">
        <div class="member_img">
            <img src="../../assets/images/team3.jpg" style="border-radius: 50%;" alt="our_team">
           <div class="social_media">
              <div class="item"><a href="https://github.com/Kuttralam"><i class="fab fa-github"></i></a></div>
              <div class="item"><a href="mailto: kuttralamvc@outlook.com"><i class="fab fa-microsoft"></i></a></div>
              <div class="item"><a href="https://www.linkedin.com/in/kuttralam-v-c-283282176/"><i class="fab fa-linkedin"></i></a></div>
            </div>
         </div>
         <h3>Kuttralam V C</h3>
         <span>Contractor (916215)</span>
         <p>Full Stack Engineer | Intern at Cognizant | SIH 2020 Winner | Student at Amrita Vishwa Vidyapeetham</p>
        </div>

        <div class="team_member">
        <div class="member_img">
            <img src="../../assets/images/team2.jpg" style="border-radius: 50%;" alt="our_team">
            <div class="social_media">
              <div class="item"><a href="https://github.com/SaahilTomar"><i class="fab fa-github"></i></a></div>
              <div class="item"><a href="mailto: saahiltomar1999@outlook.com"><i class="fab fa-microsoft"></i></a></div>
              <div class="item"><a href="https://www.linkedin.com/in/saahil-tomar-3856a8179/"><i class="fab fa-linkedin"></i></a></div>
            </div>
         </div>
         <h3>Saahil Tomar</h3>
         <span>Contractor (916398)</span>
         <p>Full Stack Engineer | Intern at Cognizant | Coding Enthusiast | Student at St. Joseph's Institute of Technology</p>
           </div>
        <div class="team_member">
           <div class="member_img">
             <img src="../../assets/images/team4.jpg" style="border-radius: 50%;"alt="our_team">
             <div class="social_media">
               <div class="item"><a href="https://github.com/gannarapupavankumar"><i class="fab fa-github"></i></a></div>
               <div class="item"><a href="mailto: pavangannarapu@outlook.com"><i class="fab fa-microsoft"></i></a></div>
               <div class="item"><a href="https://www.linkedin.com/in/g-pavan-kumar-60649b19b/"><i class="fab fa-linkedin"></i></a></div>
             </div>
          </div>
          <h3>Gannarapu Pavan Kumar</h3>
          <span>Contractor (916217)</span>
          <p>Full Stack Engineer | Intern at Cognizant | Student at Amrita Vishwa Vidyapeetham</p>
      </div>  
    </div>
</div>	

</body>
</html>